<?xml version="1.0" encoding="utf-8"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="QualityContext" connectionString="Data Source=D3VMPPWSQL003; Initial Catalog=RPA.QualityPortal (PreProd); Integrated Security=true; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>

  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="\\D3VMPPWWAS001\G$\Default Site\mailroot\Pickup" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>