<?xml version="1.0" encoding="utf-8"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
 <add name="QualityContext" connectionString="Data Source=D3VMPPWSQL003; Initial Catalog=RPA.QualityPortal (SIT); Integrated Security=true; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>

  </system.web>
</configuration>